@font-face {
    font-family: 'DaoLiTi';
    src: url('@/assets/fonts/AlimamaDaoLiTi-Regular.woff2') format('woff2'),
        url('@/assets/fonts/AlimamaDaoLiTi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* 基础css还原 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 基础字体样式 */
body {
    font-family: 'DaoLiTi', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* 链接样式重置 */
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

/* 列表样式重置 */
ul,
ol {
    list-style: none;
}

li {
    list-style: none;
}

.fulled {
    height: 100%;
}

/* flex布局 */
.flex {
    display: flex;
}

.flex-r {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.flex-r-c-c {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.nav-link {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-primary);
    padding: 6px 10px;
    border-radius: 8px;
    transition: all 0.2s ease;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;

    .icon {
        color: inherit;
    }

    &.active,
    &:hover {
        color: var(--accent-color);
        background-color: rgba(var(--accent-color-rgb), 0.1);
        transform: scale(1.1);
    }
}